@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  background-color: #f6f6f6;
  padding: 50px 25px;
  font-family: "Rubik", serif;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.wrapper {
  position: relative;
  width: 100%;
  padding: 30px 30px;
  box-shadow: 20px 20px 40px -10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0ee;
  background: linear-gradient(90deg, #f3f4f1, #f3f4f1 40% 40%, #f6f6f6);
}
.clip {
  position: absolute;
  top: -51px;
}
.post-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}
.post-header .header-title {
  font-size: 100px;
}
.post-header .header-month {
  font-size: 40px;
}
.post-list {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 1px;
  margin-bottom: 100px;
}
.post-list ul {
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
}
.post-list ul li {
  margin-bottom: 3px;
}

.post__circles--section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-circles-box {
  width: 680px;
  height: 680px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}
.section__circle {
  border-radius: 50%;
  background-color: #bbe1f0;
  width: 200px;
  height: 200px;
}
.section__circle:nth-child(4),
.section__circle:nth-child(5),
.section__circle:nth-child(6) {
  background-color: #616365;
}
.section__circle:nth-child(7),
.section__circle:nth-child(8),
.section__circle:nth-child(9) {
  background-color: #35a464;
}
